{% if message.author == user %}
    <li id="message-{{ message.id }}" class="group flex justify-end mb-4">
        <a href="{% url "remove_message" message.id%}" class="hidden group-hover:block">
            <svg xmlns="http://www.w3.org/2000/svg" 
                fill="none" viewBox="0 0 24 24" 
                stroke-width="1.5" stroke="currentColor" 
                class="size-6 text-red-500 transition-opacity duration-200 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" 
                    d="M6 18L6 9m6 9V9m6 9V9M4.5 6.75h15M10.125 6.75l.375-1.5h3l.375 1.5M9 6.75h6a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25H9A2.25 2.25 0 016.75 19.5V9a2.25 2.25 0 012.25-2.25z" />
            </svg>
        </a>
        <div class="bg-green-200 rounded-l-lg rounded-tr-lg p-4 max-w-[75%]">
            {% include "Messenger/partials/content_message.html" %}
        </div>
        
        <div class="flex items-end">
            <svg height="13" width="8">
                <path fill="#bbf7d0" d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"/>
            </svg>
        </div>
        
    </li>
{% else %}
    <li id="message-{{ message.id }}" class="list-none">
        <div class="text-sm font-light py-1 ml-10">
            <a href="{% url "start-chat" message.author.username%}">
                <span class="text-white">{{ message.author.profile.name }}</span>
                <span class="text-gray-400">@{{ message.author.username }}</span>
            </a>
        </div>
        <div class="flex justify-start">
            <div class="flex items-end">
                <svg height="13" width="8">
                    <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                </svg>
            </div>
            <div class="bodyMessage bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg hover:bg-blue-700 transition-colors duration-300">
                {% include "Messenger/partials/content_message.html" %}
            </div>
            

        </div>
        
    </li>
{% endif %}