<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign In - Wookroom</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/account/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/register.css' %}">
  <style>
    
  </style>
</head>
<body>

<div class="login-container">
  <div class="left-panel">
    <h1>Wookroom</h1>
    <p>Your place to work<br>Plan. Create. Control.</p>
    <img src="https://www.figma.com/design/TkEKy2vxhcHPecNMDEL7ID/CRM---Th%E1%BB%B1c-T%E1%BA%ADp-Gozic?node-id=0-6915&t=DoQeXkdfUhbE9rlN-4" alt="Work Illustration">
  </div>
  <div class="right-panel">
    <h2>Sign In to Wookroom</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
    
    {% if error %}
      <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
    {% endif %}

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" placeholder="youremail@gmail.com" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="••••••••" required />
      </div> 

      <div class="form-actions">
        <label><input type="checkbox" name="remember" /> Remember me</label>
        <a href="#">Forgot Password?</a>
      </div>

      <button type="submit" class="btn">Sign In →</button>

      <div class="register-link">
        Don’t have an account? <a href="{% url 'register' %}">Sign up</a>
      </div>
    </form>
  </div>
</div>

</body>
</html>
