body {
    background-color: #f5f8fd;
}

.linkhead {
    width: 450px;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 50px;
}

.sidebar {
    width: 240px;
    background-color: white;
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.profile-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
}

.nav-link.active {
    font-weight: bold;
}

.project-card {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}