  <div id="modalMember" class="fixed inset-0 z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-500/75 transition-opacity opacity-0 duration-300" id="modal-backdrop-member"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
       
        <div id="modal-panel-member" class="relative transform scale-95 opacity-0 transition-all duration-300 overflow-hidden rounded-lg bg-white text-left shadow-xl sm:my-8 sm:w-full sm:max-w-lg">
            <form method='POST' action="{% url "add_member" groupId %}">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <div class="flex shrink-0 items-center pb-4 text-xl font-medium text-slate-800">
                Add Member
                </div>
                <div class="mt-2">
                    {% csrf_token %}
                    <input class="hidden" type="text" name="groupID" value={{groupId}}>
                    <label name="member">Email User</label>

                    <input name='member' type='text'>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="submit" class="inline-flex mt-3 w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:ml-3 sm:w-auto">Add</button>
            <button onclick="closeModal('modalMember','modal-backdrop-member','modal-panel-member')" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
