{% extends 'profile/layout_profile.html' %}

{% block profile %}
  <div class="linkhead nav nav-tabs mb-3">
    <div>
      <a class="nav-link active" href="#">Projects</a>
    </div>

    <div>
      <a class="nav-link" href="#">Team</a>
    </div>

    <div>
      <a class="nav-link" href="#">My Vacations</a>
    </div>
  </div>
  <table border="1">
    <tr>
      <th>Tên</th>
      <th>Mô tả</th>
      <th>Mã</th>
      <th>Trạng thái</th>
      <th>Người báo cáo</th>
      <th>Assignees</th>
      <th>Deadline</th>
    </tr>
    {% for project in projects %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.number }}</td>
        <td>{{ project.status }}</td>
        <td>{{ project.reporter.username }}</td>
        <td>
          {% for assignee in project.assignees.all %}
            {{ assignee.username }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>{{ project.deadline }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
